body{
    background-color: #CDE7b0;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif; 
    font-size: 18px; font-style: normal;
    margin:0;
    
}
header{
    background-color: #59594A;
    color: rgb(15, 15, 15);
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: #fff;
    margin-bottom: 100px
    

}
.container{
    width: 80%;
    margin: 0 auto;
   
    
   /* background-image: url(../images/aloe-vera.jpeg);
    height:71vh;
    background-repeat:no-repeat;*/

}
.float{
    width: 80%;
    height:80%;
    margin: 0 auto;
    
    background-repeat:no-repeat;
}
section{
    float: left;
    width: 70%;
    margin-bottom: 100px;

}
aside{
    float:right;
    width: 25%;
}

footer{
    background-color: #7286A0;
    clear: both;
    padding: 50px 0;
    text-align: center;
}
header{
    
    background-size:cover;
    background-position: center;
    

}
ul{
    float:right;
    list-style-type: none;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color:rgb(19, 17, 17);
    padding: 5px 20px;
    border:1px solid transparent;
    transition: 0.6s ease;
     
}
ul li.active a{
    background-color:#fff;
    color:#000;
}
ul li a:hover{
    background-color:rgb(221, 208, 30);
    color:#000;
}

.logo img{
    float:left;
    width: 100px;
    padding-top: 0px;
    height:auto;
}
.main{
    max: width 1200px;
    margin:auto;
}

/*
.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.title h1{
    color:#fff;
    font-size: 70px;


}*/