* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #abb9b0;
    color: white;
    font-family: "Poppins", sans-serif;
  }
  
  header a {
    text-decoration: none;
  }
  
  header {
    padding: 0 20px;
    background-color: #59594A;;
    height: 50px;
    display: flex;
    justify-content: space-between;
  }
  
  #brand {
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-items: center;
  }
  
  #brand a {
    color: #09c372;
    float: left;
  }
  
  ul {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
  }
  
  ul a {
    color: white;
  }
  
  ul li {
    padding: 5px;
    margin-left: 10px;
   
  }
  
  ul li:hover {
    transform: scale(1.1);
    transition: 0.3s;
    background-color:rgb(221, 208, 30);
  }
  
  
  #hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
  }
  
  #hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .open .line1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
  }
  
  .open .line2 {
    opacity: 0;
  }
  
  .open .line3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
  }
  
  .open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  
  .mobile-menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    height: calc(100vh - 50px);
    width: 100%;
    
  }
  
  .mobile-menu li {
    margin-bottom: 10px;
    
  }
  
  @media only screen and (max-width: 600px) {
    header nav {
      display: none;
    }
  
    #hamburger-icon {
      display: block;
    }
  }

ul li.active a{
    background-color:#fff;
    color:#000;
    text-decoration: none;
}
.responsive{
    width: 100%;
    height: auto;
}
.container{
  position: relative;
  left: 10px;
  top: 200px;
     
}
.page-header{
  position: relative;
  left: 10px;
  top: 200px;
}
.produkter {
 
  text-decoration: none;
  position: relative;
  left: 10px;
  top: 200px;
  
}
/*
@media screen and (max-width: 400px) {
  .page-header  {
    float: none;
    display:block;
    text-align: left;
  }
  .page-header-right {
    float: none;

  }
  
}
*/
#bestall{
  width: 300px;
  margin:20vh auto 0 auto;
  padding: 20px;
 
  border-radius: 4px;
  font-size: 12px;
}

#bestall h1{
  color: #0f2027;
  text-align :center;

  
  
}
#bestall button{
  padding: 10px;
  margin-left:10px; 
  padding-top: 10px;
  width: 100%;
  margin: 20vh auto 0 auto;
  color:white;
  background-color: rgb(41,57,194);
  border: none;
  border-radius: 4px;
}
.input-control{
  display:flex;
  flex-direction: column;
}
.input-control input{
  border:2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  font-size: 12px;
  padding: 10px;
  width: 100%;

}
.input-control input:focus{
    outline: 0;
}
.input-control.success input{
  border-color: #09c372;
}
.input-control.error input{
  border-color:  #ff3860;
}
.input-control .error{
  color:#ff3860;
  font-size: 9px;
  height: 13px;
}
